// .hero {
//   padding-top: 20px;
//   padding-bottom: 40px;
// }

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  &__item {
    flex-basis: 100%;
  }
}

.gallery-thumb {
  width: 280px;
  height: 398px;
  margin-bottom: 8px;
}

.movie-info__name {
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
}

.movie-info__about {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
  color: #ff6b08;
}

.movie-info__rate {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 16px;
  font-size: 12px;
  line-height: calc(14 / 12);
  background-color: #ff6b01;
  color: #ffffff;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  // .hero {
  //   padding-top: 60px;
  //   padding-bottom: 60px;
  // }

  .gallery-list {
    // flex-direction: row;
    gap: 32px;
    // flex-wrap: wrap;
    margin: 0 auto;
    // max-width: 704px;

    &__item {
      flex-basis: calc((100% - 32px * 1) / 2);

      //flex-basis: calc((100% - 32px * 1) / 2);
      // flex-basis: 280px;
      cursor: pointer;
    }
  }

  .gallery-thumb {
    width: 336px;
    height: 455px;
  }
}

@media screen and (min-width: 1280px) {
  .gallery-list {
    gap: 16px;
    // max-width: 1217px;

    &__item {
      flex-basis: calc((100% - 16px * 2) / 3);
    }
  }

  .gallery-thumb {
    max-width: 395px;
    height: 574px;
    margin-bottom: 12px;
  }

  .movie-info__name {
    font-size: 20px;
    line-height: calc(24 / 20);
  }

  .movie-info__about {
    font-size: 20px;
    line-height: calc(24 / 20);
  }

  .movie-info__rate {
    width: 40px;
    height: 20px;
  }
}

.gallery {
  display: flex;
  padding: 10px;
}
