.gallery-list {
  display: flex;

  flex-direction: column;

  gap: 20px;

  transition: transform 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);

  &__item {
    flex-basis: 100%;

    &:hover {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
      transform: scale(1.05);
      @media screen and (min-width: 768px) {
        transform: scale(1.06);
      }
    }
  }
}

.gallery-img {
  display: block;

  width: 280px;
  height: 398px;
  margin-bottom: 8px;
}

.movie-info {
  display: block;

  max-width: 280px;
}

.movie-info__name {
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);

  text-transform: uppercase;
}

.movie-info__about {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
  color: #ff6b08;
}

.movie-info__rate {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 16px;
  font-size: 12px;
  line-height: calc(14 / 12);
  background-color: #ff6b01;
  color: #ffffff;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .gallery-list {
    flex-direction: row;
    gap: 32px;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 704px;

    &__item {
      flex-basis: calc((100% - 32px * 1) / 2);

      flex-basis: 280px;
      cursor: pointer;
    }
  }

  .gallery-img {
    width: 336px;
    height: 455px;
  }

  .movie-info {
    display: block;

    max-width: 336px;
  }
}

@media screen and (min-width: 1280px) {
  .gallery-list {
    // gap: 16px;
    column-gap: 16px;
    row-gap: 32px;
    max-width: 1217px;

    &__item {
      flex-basis: calc((100% - 16px * 2) / 3);
    }
  }

  .gallery-img {
    width: 394px;

    object-fit: cover;

    height: 574px;
    margin-bottom: 12px;
  }

  .movie-info {
    display: inline;

    max-width: 394px;
  }

  .movie-info__name {
    font-size: 20px;
    line-height: calc(24 / 20);
  }

  .movie-info__about {
    font-size: 20px;
    line-height: calc(24 / 20);
  }

  .movie-info__rate {
    width: 40px;
    height: 20px;
  }
}

// .gallery {
//   display: flex;
//   padding: 10px;
// }
