* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', Roboto, Oxygen,
    'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  color: #212121;
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
}

// .container {
//   margin: 0 auto;

//   @media screen and (max-width: 767px) {
//     // margin-top: 20px;
//     // padding-left: 20px;
//     // padding-right: 20px;
//     max-width: 767px;
//   }

//   @media screen and (min-width: 768px) and (max-width: 1199px) {
//     max-width: 1199px;
//     // margin-top: 60px;
//     // padding-left: 32px;
//     // padding-right: 32px;
//   }

//   @media screen and (min-width: 1200px) {
//     max-width: 1920px;
//     // margin-top: 60px;
//     // padding-left: 32px;
//     // padding-right: 32px;
//   }
// }

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 320px) {
    width: 320px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

h1 {
  margin: 0;
  color: #ffffff;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  margin-top: 12px;

  @media screen and (max-width: 767px) {
    text-align: center;
    margin-top: 100px;
  }
}

a {
  text-decoration: none;
}

img {
  display: block;
  // object-fit: cover;
  // margin: 0 auto;
  // border-radius: 5px;
  // box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
  //   1px 4px 6px rgba(0, 0, 0, 0.16);

  // @media screen and (max-width: 767px) {
  //   width: 280px;
  //   height: 402px;
  // }

  // @media screen and (min-width: 768px) and (max-width: 1199px) {
  //   width: 336px;
  //   height: 455px;
  // }

  // @media screen and (min-width: 1200px) {
  //   width: 394px;
  //   height: 574px;
  // }
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

ul,
h1,
h2,
h3,
p,
li {
  margin: 0;
  padding: 0;
}
