.footer-section__btn {
  background-color: #f7f7f7;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

.footer-section {
  color: #545454;
  background-color: #f7f7f7;
  padding-top: 30px;
  padding-bottom: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.15;
  width: 100%;

  @media screen and(min-width: 768px) {
    font-size: 16px;
    line-height: 1.15;
    flex-direction: row;
  }
}

.footer-section__group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-section__icon {
  fill: #ff6b08;
  animation: heart 1000ms infinite;
}

@keyframes heart {
  0% {
    transform: scale(2);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}
