footer {
  flex-shrink: 0;
}

main {
  flex-grow: 1;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// .footer {
//   background-color: #f7f7f7;
// }
// .footer__container {
//   color: #545454;
//   @media screen and (min-width: 768px) {
//     display: flex;
//     justify-content: center;
//     align-items: baseline;
//   }
// }

.footer-section__btn {
  background-color: #f7f7f7;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-section {
  color: #545454;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.15;
  width: 100%;

  @media screen and(min-width: 768px) {
    font-size: 16px;
    line-height: 1.15;
    flex-direction: row;
  }
}

.footer-section__group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-section__icon {
  fill: #ff6b08;
  animation: heart 1000ms infinite;
}

@keyframes heart {
  0% {
    transform: scale(2);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}
