.hero {
  // margin-left: auto;
  // margin-right: auto;
  margin: 0 auto;

  padding-top: 20px;
  padding-bottom: 40px;

  width: 320px;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}

.tui-pagination {
  margin-top: 40px;
  margin-bottom: 0;

  @media screen and (min-width: 768px) {
    margin-top: 60px;
  }
}
// .pop-list {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 20px;

//   @media screen and (min-width: 768px) {
//     gap: 32px;
//   }

//   @media screen and (min-width: 1280px) {
//     column-gap: 16px;
//     row-gap: 32px;
//   }
// }

// .pop-item {
//   background-color: lightblue;
//   height: 443;
//   flex-basis: 100%;

//   @media screen and (min-width: 768px) {
//     height: 494;
//     flex-basis: calc((100% - 32px * 1) / 2);
//   }

//   @media screen and (min-width: 1280px) {
//     height: 634px;
//     flex-basis: calc((100% - 16px * 2) / 3);
//   }
// }

.tui-pagination .tui-is-selected,
.tui-pagination strong {
  background: #ff6b01;
  border-color: #ff6b01;
}

.tui-pagination .tui-is-selected:hover,
.tui-pagination .tui-is-selected:focus {
  background-color: #ff6b01;
}

.tui-pagination .tui-page-btn:hover,
.tui-pagination .tui-page-btn:focus {
  background-color: #ff6b01;
  color: #ffffff;
}

.tui-pagination .tui-first-child.tui-is-selected {
  border-left: 1px solid #ff6b01;
}

.tui-pagination .tui-page-btn {
  @media screen and (max-width: 320px) {
    width: 22px;
    font-size: 9px;
  }
}
