// .test-card {
//   background-color: #ff6b01;
//   @media screen and (min-width: 320px) {
//     width: 280px;
//     height: 398px;
//   }

//   @media screen and (min-width: 768px) {
//     width: 336px;
//     height: 445px;
//   }

//   @media screen and (min-width: 1280px) {
//     width: 336px;
//     height: 445px;
//   }
// }

.films-container {
  // width: 100%;

  @media screen and (min-width: 320px) {
    // width: 320px;
    // margin: 0 auto;
    // padding-left: 20px;
    // padding-right: 20px;
  }

  @media screen and (min-width: 768px) {
    // width: 768px;
    // padding-left: 32px;
    // padding-right: 32px;
  }

  @media screen and (min-width: 1280px) {
    // width: 1280px;
    // padding-left: 32px;
    // padding-right: 32px;
  }
}

.films-container {
  // margin-left: auto;
  // margin-right: auto;
  margin: 0 auto;

  padding-top: 20px;
  padding-bottom: 40px;

  width: 320px;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}

.tui-pagination {
  margin-top: 40px;
  margin-bottom: 0;

  @media screen and (min-width: 768px) {
    margin-top: 60px;
  }
}

// .library-movies {
//   display: flex;
//   flex-wrap: wrap;
//   flex-direction: column;
//   column-gap: 20px;

//   align-items: center;
//   width: 100%;

//   margin: 0 auto;
//   flex-direction: row;
//   flex-wrap: wrap;
//   gap: 32px;
//   justify-content: space-around;
//   align-items: baseline;

//   @media screen and (min-width: 768px) {
//     flex-direction: row;
//     flex-wrap: wrap;
//     gap: 32px;
//     justify-content: space-around;
//     align-items: baseline;
//   }

//   @media screen and (min-width: 1280px) {
//     column-gap: 16px;
//     row-gap: 32px;
//   }
// }

.default-library-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 50px;
  visibility: hidden;
}

.default-library-page__text_main {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.33;
  text-align: center;
  margin-bottom: 60px;
  transition: color 1s ease-in-out;
  @media screen and (min-width: 768px) {
    font-size: 56px;
  }
}

.default-library-page__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.33;
  text-align: center;
  margin-top: 10px;
  transition: color 1s ease-in-out;
  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}

.default-library-page__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  color: #ff6b01;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0.01em;

  .theme-switcher & {
    color: #ffffff;
  }

  @media screen and (min-width: 768px) {
    font-size: 28px;
  }
}

.library-default-film-card {
  margin-bottom: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    transform: scale(1.01);
  }
}

.library-default-film-card__img {
  border-radius: 5px;
}

.library-default-film-card__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;

  color: #000000;
  transition: color 0.5s ease-in-out;
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.2;
  }

  .theme-switcher & {
    color: #ffffff;
  }
}

.library-default-film-card__genres {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  color: #ff6b01;

  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.2;
  }
}

.library-default-film-card__release-date {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  color: #ff6b01;

  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.2;
  }
}

.library-default-film-card__wrapper {
  display: block;
  flex-grow: 1;
  padding-top: 8px;
  width: 200;
}
