.backdrop-team {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(94, 99, 99, 0.7);
  top: 0;
  left: 0;
  transition: all 250ms ease 0s;
  min-height: 100%;
  opacity: 1;
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: opacity, background-color, box-shadow, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  overflow-y: scroll;
}

.is-hidden-team {
  visibility: hidden;
  opacity: 0;
  overflow-y: auto;
  overflow-x: hidden;
  pointer-events: all;
  transition-property: opacity, background-color, box-shadow, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team__modal {
  @media screen and (max-width: 767px) {
    position: relative;
    width: 280px;
    height: auto;
    background-image: url(/src/img/bg_modal.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }

  @media screen and (min-width: 768px) {
    position: relative;
    width: 714px;
    height: auto;
    background-image: url(/src/img/bg_modal.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }

  @media screen and (min-width: 1280px) {
    position: relative;
    width: 1024px;
    height: auto;
    background-image: url(/src/img/bg_modal.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  }
}

.modal-team-btn {
  position: absolute;
  right: 16px;
  top: 16px;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(146, 55, 55);
  transition-property: opacity, background-color, fill, visibility, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: rgb(255, 0, 27);
    border: 2px solid rgb(255, 0, 27);
    transition-property: opacity, background-color, fill, visibility,
      border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.modal-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.team__list {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0;
  }
}
.team__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.team__img {
  @media screen and (max-width: 767px) {
    width: 70px;
    height: 70px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 120px;
    height: 120px;
  }

  @media screen and (min-width: 1200px) {
    width: 160px;
    height: 160px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  }
}

.team__head {
  font-size: 28px;
  line-height: 1.3;
  color: #ebe1e1ea;
  text-shadow: 2px 2px 2px black;
}
.team__text {
  font-weight: 700;
  color: #ebe1e1ea;
  text-shadow: 2px 2px 2px black;
  @media screen and (max-width: 767px) {
    font-size: 10px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 12px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}
