.basicLightbox__placeholder iframe {
  height: 240px;
  min-width: 320px;

  @media screen and (min-width: 768px) {
    height: 480px;
    width: 640px;
  }

  @media screen and (min-width: 1024px) {
    height: 768px;
    width: 1024px;
  }
}

.btn-trailer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border-color: transparent;
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1000000;
  cursor: pointer;
}
.btn-trailer:active,
.btn-trailer:hover,
.btn-trailer:focus {
  border-color: transparent;
  outline: 0;
  outline-offset: 0;
}
.btn-trailer .btn-trailer__path {
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
.thumb-movie-poster:hover,
.thumb-movie-poster:focus {
  picture {
    opacity: 0.8;
  }

  .btn-trailer {
    opacity: 1;
  }

  .btn-trailer__path {
    fill: #f00;
  }
}
