@import '~node_modules/modern-normalize/modern-normalize.css';
@import './base/visually-hidden';
@import './base/header';
@import './base/common';

@import './base/hero';
@import './base/card-for-movie';

@import './base/modal-movie';
@import './base/library_container';
@import './base/footer';

@import './base/team-modal';
@import './base/toolbar';
@import './base/loader';
@import './base/trailer';

@import './base/basic-lightbox.scss';
