<div class="authorization">
  <div class="authorization-owerlay">
    <div class="authorization-container">
      <button type="button" class="close-form-btn">
        <svg width="30" height="30">
          <use href="/src/img/icon.svg#icon-btn-close"></use>
        </svg>
      </button>

      <div class="authorization-form">
        <!-- <input class="authorization-form__input" type="text" name="login" id="login" placeholder="Login"> -->
        <h1 class="authorization-form__title">Sing In</h1>
        <div class="authorization-input-wrap">
          <input
            class="authorization-form__input"
            type="email"
            name="email"
            id="email"
            placeholder="Email"
          />
          <input
            class="authorization-form__input"
            type="password"
            name="password"
            id="password"
            placeholder="Password"
          />
        </div>
        <div class="authorization-form__btn-wrap">
          <input
            class="authorization-form__btn singup"
            type="submit"
            id="singup"
            value="SING UP"
          />
          <input
            class="authorization-form__btn"
            type="submit"
            id="singin"
            value="SING IN"
          />
        </div>
      </div>
    </div>
  </div>
</div>
