<!-- <ul class="gallery-list gallery-js">
  <li class="gallery-list__item">
    <div class="gallery-thumb">
      <picture>
        <source srcset="./img/movie-desk.jpg" media="(min-width: 1280px)" />
        <source srcset="./img/movie-tb.jpg" media="(min-width: 768px)" />
        <source srcset="./img/movie-mb.jpg" media="(max-width: 767px)" />
        <img src="./img/movie-mb.jpg" alt="" />
      </picture>
    </div>
    <div class="movie-info">
      <h2 class="movie-info__name">ONCE UPON A TIME... IN HOLLYWOOD</h2>
      <p class="movie-info__about">
        Drama, Comedy | 2019 <span class="movie-info__rate">8.0</span>
      </p>
    </div>
  </li>
</ul> -->
