<div class="main-container container">
  <section class="head__menu">
    <div>
      <a href="./index.html" class="logo"
        ><svg class="logo__film" width="38" height="38">
          <use href="/src/img/icon.svg#icon-logo"></use>
        </svg>
        <h1 class="header__title">Filmoteka</h1>
      </a>
    </div>
    <nav class="nav__menu">
      <a
        class="nav__menu__link nav__menu__link__index nav__menu__link--active"
        href="./index.html"
        >HOME</a
      >
      <a class="nav__menu__link" href="./library.html">MY LIBRARY</a>
    </nav>
  </section>
  <div class="search">
    <form class="search-form" id="search-form">
      <input
        type="text"
        name="searchQuery"
        id="search-box"
        autocomplete="off"
        placeholder="Movie search"
      />
      <button type="submit" class="search_btn">
        <svg class="icon-search" width="12" height="12">
          <use href="/src/img/icon.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    <span class="error-js"></span>
  </div>
  <div class="toolbar">
    <div class="theme-switch">
      <svg class="theme-switch__icon" role="img" width="10" height="10">
        <use href="/src/img/icon.svg#icon-sun"></use>
      </svg>
      <div class="theme-switch__control">
        <input
          class="theme-switch__toggle"
          type="checkbox"
          name="theme"
          id="theme-switch-toggle"
        />
        <label
          aria-hidden="true"
          class="theme-switch__track"
          for="theme-switch-toggle"
        >
        </label>
        <div aria-hidden="true" class="theme-switch__marker"></div>
      </div>

      <svg class="theme-switch__icon" width="10" height="10">
        <use href="/src/img/icon.svg#icon-moon"></use>
      </svg>
    </div>
  </div>
</div>
