<div class="backdrop modal—movie-is-hidden">
  <div class="modal-movie-detail">
    <button class="btn-close-modal btn-close-js" type="button">
      <svg class="icon-close" width="34" height="34" viewBox="0 0 32 32">
        <use xlink:href="#icon-close"></use>
        <symbol id="icon-close">
          <path
            stroke-linejoin="miter"
            stroke-linecap="butt"
            stroke-miterlimit="4"
            stroke-width="2.1333"
            d="M8.533 8.533l14.933 14.933"
          ></path>
          <path
            stroke-linejoin="miter"
            stroke-linecap="butt"
            stroke-miterlimit="4"
            stroke-width="2.1333"
            d="M8.533 23.467l14.933-14.933"
          ></path>
        </symbol>
      </svg>
    </button>
    <div class="thumb-movie-poster"></div>
    <div class="movie-detail">
      <h2 class="movie-title"></h2>
      <div class="movie-detail-info">
        <div class="thumb">
          <ul class="movie-detail-info-category list">
            <li class="category-item list-item">Vote / Votes</li>
            <li class="category-item list-item">Popularity</li>
            <li class="category-item list-item">Original Title</li>
            <li class="category-item list-item">Genre</li>
          </ul>
        </div>
        <ul class="movie-detail-info-category-render list"></ul>
      </div>

      <h3 class="about">About</h3>
      <p class="about-desc"></p>

      <div class="movie-btn-container">
        <button class="modal-btn btn-active" type="button">
          add to Watched
        </button>
        <button class="modal-btn" type="button">add to queue</button>
      </div>
    </div>
  </div>
</div>
