<div class="backdrop-team is-hidden-team">
  <div class="team__modal">
    <button type="button" class="modal-team-btn">
      <svg width="30" height="30">
        <use href="/src/img/icon.svg#icon-btn-close"></use>
      </svg>
    </button>
    <div class="modal-form">
      <h3 class="team__head">Our Team</h3>
      <div>
        <ul class="team__list">
          <li class="team__card">
            <a href="https://github.com/TetianaZinchenko" target="_blank"
              ><img
                class="team__img"
                src="/src/img/team/tetiana_zinchenko.jpg"
                alt="Developer"
                width="150"
                height="150"
            /></a>
            <div class="team__name">
              <h4 class="team__name__title">Tetiana Zinchenko</h4>
            </div>
            <p><span class="team__text">Team Lead</span></p>
          </li>
          <li class="team__card">
            <a href="https://github.com/smirnypavel" target="_blank"
              ><img
                class="team__img"
                src="/src/img/team/pavlo_smyrny.jpg"
                alt="Developer"
                width="150"
                height="150"
            /></a>
            <div class="team__name">
              <h4 class="team__name__title">Pavlo Smyrny</h4>
            </div>
            <p><span class="team__text">Scrum Master</span></p>
          </li>
          <li class="team__card">
            <a href="https://github.com/reebass" target="_blank"
              ><img
                class="team__img"
                src="/src/img/team/andriy_khomenko.jpg"
                alt="Developer"
                width="150"
                height="150"
            /></a>
            <div class="team__name">
              <h4 class="team__name__title">Andriy Khomenko</h4>
            </div>
            <p><span class="team__text">Front-end Developer</span></p>
          </li>
          <li class="team__card">
            <a href="https://github.com/antonina-kicha" target="_blank"
              ><img
                class="team__img"
                src="/src/img/team/antonina_kicha.jpg"
                alt="Developer"
                width="150"
                height="150"
            /></a>
            <div class="team__name">
              <h4 class="team__name__title">Antonina Kicha</h4>
            </div>
            <p><span class="team__text">Front-end Developer</span></p>
          </li>
          <li class="team__card">
            <a href="https://github.com/ArtemKukunin" target="_blank"
              ><img
                class="team__img"
                src="/src/img/team/artem_kukunin.jpg"
                alt="Developer"
                width="150"
                height="150"
            /></a>
            <div class="team__name">
              <h4 class="team__name__title">Artem Kukunin</h4>
            </div>
            <p><span class="team__text">Front-end Developer</span></p>
          </li>
          <li class="team__card">
            <a href="https://github.com/ingamostova" target="_blank"
              ><img
                class="team__img"
                src="/src/img/team/inga_mostova.jpg"
                alt="Developer"
                width="150"
                height="150"
            /></a>
            <div class="team__name">
              <h4 class="team__name__title">Inga Mostova</h4>
            </div>
            <p><span class="team__text">Front-end Developer</span></p>
          </li>
          <li class="team__card">
            <a href="https://github.com/yurii-kovalchuk" target="_blank"
              ><img
                class="team__img"
                src="/src/img/team/yurii_kovalchuk.jpg"
                alt="Developer"
                width="150"
                height="150"
            /></a>
            <div class="team__name">
              <h4 class="team__name__title">Yurii Kovalchuk</h4>
            </div>
            <p><span class="team__text">Front-end Developer</span></p>
          </li>
          <li class="team__card">
            <a href="https://github.com/IrynaDenysovich" target="_blank"
              ><img
                class="team__img"
                src="/src/img/team/iryna_denysovich.jpg"
                alt="Developer"
                width="150"
                height="150"
            /></a>
            <div class="team__name">
              <h4 class="team__name__title">Iryna Denysovich</h4>
            </div>
            <p><span class="team__text">Front-end Developer</span></p>
          </li>
          <li class="team__card">
            <a href="https://github.com/InnaKolesnyk" target="_blank"
              ><img
                class="team__img"
                src="/src/img/team/inna_kolesnyk.jpg"
                alt="Developer"
                width="150"
                height="150"
            /></a>
            <div class="team__name">
              <h4 class="team__name__title">Inna Kolesnyk</h4>
            </div>
            <p><span class="team__text">Front-end Developer</span></p>
          </li>
          <li class="team__card">
            <a href="https://github.com/MythosOne" target="_blank"
              ><img
                class="team__img"
                src="/src/img/team/victor_avramidi.jpg"
                alt="Developer"
                width="150"
                height="150"
            /></a>
            <div class="team__name">
              <h4 class="team__name__title">Victor Avramidi</h4>
            </div>
            <p><span class="team__text">Front-end Developer</span></p>
          </li>
          <li class="team__card">
            <a href="https://github.com/FilatovaVita" target="_blank"
              ><img
                class="team__img"
                src="/src/img/team/vita_filatova.jpg"
                alt="Developer"
                width="150"
                height="150"
            /></a>
            <div class="team__name">
              <h4 class="team__name__title">Vita Filatova</h4>
            </div>
            <p><span class="team__text">Front-end Developer</span></p>
          </li>
          <li class="team__card">
            <a href="https://github.com/Lusiy321" target="_blank"
              ><img
                class="team__img"
                src="/src/img/team/volodymyr_lysenko.jpg"
                alt="Developer"
                width="150"
                height="150"
            /></a>
            <div class="team__name">
              <h4 class="team__name__title">Volodymyr Lysenko</h4>
            </div>
            <p><span class="team__text">Front-end Developer</span></p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
