<div class="backdrop-team is-hidden-team">
  <div class="team__modal">
    <button type="button" class="modal-btn">
      <svg width="30" height="30">
        <use href="/src/img/icon.svg#icon-btn-close"></use>
      </svg>
    </button>
    <div class="modal-form">
      <h3 class="team__head">Our Team</h3>
      <div>
        <ul class="team__list">
          <li class="team__card">
            <a href=""
              ><img
                class="team__img"
                src="/src/img/test_img.jpg"
                alt="Developer"
                width="150"
                height="150"
            /></a>
            <p><span class="team__text">Team Lead</span></p>
          </li>
          <li class="team__card">
            <a href=""
              ><img
                class="team__img"
                src="/src/img/test_img.jpg"
                alt="Developer"
                width="150"
                height="150"
            /></a>
            <p><span class="team__text">Scrum Master</span></p>
          </li>
          <li class="team__card">
            <a href=""
              ><img
                class="team__img"
                src="/src/img/test_img.jpg"
                alt="Developer"
                width="150"
                height="150"
            /></a>
            <p><span class="team__text">Front-end Developer</span></p>
          </li>
          <li class="team__card">
            <a href=""
              ><img
                class="team__img"
                src="/src/img/test_img.jpg"
                alt="Developer"
                width="150"
                height="150"
            /></a>
            <p><span class="team__text">Front-end Developer</span></p>
          </li>
          <li class="team__card">
            <a href=""
              ><img
                class="team__img"
                src="/src/img/test_img.jpg"
                alt="Developer"
                width="150"
                height="150"
            /></a>
            <p><span class="team__text">Front-end Developer</span></p>
          </li>
          <li class="team__card">
            <a href=""
              ><img
                class="team__img"
                src="/src/img/test_img.jpg"
                alt="Developer"
                width="150"
                height="150"
            /></a>
            <p><span class="team__text">Front-end Developer</span></p>
          </li>
          <li class="team__card">
            <a href=""
              ><img
                class="team__img"
                src="/src/img/test_img.jpg"
                alt="Developer"
                width="150"
                height="150"
            /></a>
            <p><span class="team__text">Front-end Developer</span></p>
          </li>
          <li class="team__card">
            <a href=""
              ><img
                class="team__img"
                src="/src/img/test_img.jpg"
                alt="Developer"
                width="150"
                height="150"
            /></a>
            <p><span class="team__text">Front-end Developer</span></p>
          </li>
          <li class="team__card">
            <a href=""
              ><img
                class="team__img"
                src="/src/img/test_img.jpg"
                alt="Developer"
                width="150"
                height="150"
            /></a>
            <p><span class="team__text">Front-end Developer</span></p>
          </li>
          <li class="team__card">
            <a href=""
              ><img
                class="team__img"
                src="/src/img/test_img.jpg"
                alt="Developer"
                width="150"
                height="150"
            /></a>
            <p><span class="team__text">Front-end Developer</span></p>
          </li>
          <li class="team__card">
            <a href=""
              ><img
                class="team__img"
                src="/src/img/test_img.jpg"
                alt="Developer"
                width="150"
                height="150"
            /></a>
            <p><span class="team__text">Front-end Developer</span></p>
          </li>
          <li class="team__card">
            <a href=""
              ><img
                class="team__img"
                src="/src/img/test_img.jpg"
                alt="Developer"
                width="150"
                height="150"
            /></a>
            <p><span class="team__text">Front-end Developer</span></p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
