.back-to-top {
  position: fixed;
  right: 10px;
  bottom: 150px;
  width: 50px;
  height: 50px;
  border-color: transparent;
  border-radius: 50%;
  background-color: rgba(207, 36, 17, 0.281);
  display: none;
}
.back-to-top:hover,
.back-to-top:focus {
  background-color: rgba(255, 87, 68, 0.699);
}

.back-to-top::after,
.back-to-top::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.back-to-top::before {
  width: 5px;
  height: 20px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #f5f0f6;
}
.back-to-top::after {
  width: 15px;
  height: 15px;
  transform: translate(-50%, -50%) rotate(45deg);
  border-top: 5px solid #f5f0f6;
  border-left: 5px solid #f5f0f6;
}
